name: TEST the versioning workflow

on:
  release:
    types:
      - published
      - released
      - edited
  push:
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+'
    branches-ignore:
      - '**'
    paths-ignore:
      - '**'

jobs:
  version:
    uses: ./.github/workflows/versioning.yml
